<footer class="bg-gray-100 text-center border-t border-grey p-4">
  Made by
  <a class="a" href="https://www.jailbreak.paris/" target="_blank">Jailbreak</a>
  with
   <a class="a" href="https://framagit.org/agdic-hackathon/vitrine" target="_blank">Vitrine</a>
   – a Hackathon Dashboard powered by
   <a class="a" href="https://www.discourse.org/" target="_blank">Discourse</a>
   and
   <a class="a" href="https://about.gitlab.com/" target="_blank">GitLab</a>
</footer>
