<script>
  import Cards from "./Cards.svelte"

  export let pageData
  export let pageType
</script>

{#if pageType === "cards"}
  {#if pageData && pageData.length}
    <Cards items={pageData} />
  {/if}
{:else if pageType === "content"}
  {#if pageData.text}
    {pageData.text}
  {:else if pageData.html}
    <div class="text-html">
      {@html pageData.html}
    </div>
  {/if}
{/if}
